.clearfix::after {
    content: "";
    clear: both;
    display: inline-flex;
  }

body{
    background-color: #777;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align : center;
    font-size: 18px;
    width: 960px;
    overflow: auto;
    vertical-align: center;
}

header{
    background-color: #ebebeb;
    width: 960px;
    height: 60px;
    border: 1px white;
    align-items: center;
    padding: 10px;
    left: 60px;  
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    top:20px;
    text-align: center;
    display: block;
    line-height: 65px;
}

nav {
    background-color: #ebebeb;
    width: 960px;
    height: 60px;
    border: 1px white;
    align-items: center;
    padding: 10px;
    left:60px;
    top: 100px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: block;
    position: absolute;
    line-height: 65px;
}

 section {
    background-color: #ebebeb;
    display: block;
    width: 495px;
    height: 300px;
    border: 1px white;
    padding: 60px;
    top: 120px;
    left: 60px;
    margin-top: 90px;
    float: left;
    margin-left: 20%;
    position: absolute;
    align-content: center;
    align-items: center;
    line-height: 0px;


}

article{
    background-color: #777;
    color: #ebebeb;
    width: 490px;
    height: 190px;
    padding: 50px;
    left: 460px;
    top: 300px;
    margin-top: 20px;
    position: absolute;
    text-align: center;
    line-height: 0px;
    z-index: 2;  
}

div{
    background-color:#ebebeb;
    font-weight: bold;
    width: 520px;
    height: 50px;
    padding: 15px;
    position: relative;
    top: 400px;
    left: 480px;
    float: left;
    text-align: center;
    line-height: 50px;
    z-index: 3;
}

p{
    background-color:#ebebeb;
    width: 520px;
    height: 50px;
    padding: 15px;
    position: relative;
    top: 420px;
    left: 480px;
    float: left;
    text-align: center;
    line-height: 50px;
    z-index: 3;
}

aside{
    background-color:#ebebeb;
    float: right;
    width: 305px;
    height: 380px;
    top: 120px;
    border: 1px white;
    padding: 20px;
   margin-left: 1080px;
   position: absolute;
   margin-top: 90px;
   line-height: 95px;

}

footer{
    background-color: #ebebeb;
    position: fixed;
    padding: 12px;
    bottom: 210px;
    width: 960px;
    height: 60px;
    margin-left: 20%;
    align-items: center;
    text-align: center;
    left: 60px;
}