.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
body{
    background-color: darkgrey;
    color: black;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align : center;
    font-size: 40px;
}
header{
    background-color: whitesmoke;
    width: 1200px;
    height: 50px;
    border: 1px white;
    align-items: center;
    display: inline-block;
    padding: 20px;
}
nav {
    background-color: whitesmoke;
    width: 1200px;
    height: 50px;
    border: 1px white;
    align-items: center;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
}
section {
    background-color: whitesmoke;
    width: 50%;
    height: 1000px;
    border: 1px white;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    float: left;
}
article{
    
}
div{

}
p{

}
aside{

}
footer{

}